.body{
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 150px;
    background-color: grey;
}
.one{
    background: url(https://media.istockphoto.com/id/815573944/photo/man-and-woman-hand-holding-jigsaw-puzzles-business-matching-concept.jpg?s=612x612&w=0&k=20&c=kVipFd0Uv84FgMfHsTpiRkh_wTl5VWP4CxxX_IsQLdA=)
}
#dt{
    margin-top: 100px;
    margin-left: 100px;
    border: 20px solid;
    border-radius: 20px;
    background-color: blue;
    border-color: blue;
    cursor: pointer;
    color: white;
}
.two-outer{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQSPiBT6p6AI38BU824e6LxlRY7W1lo-FrDg&usqp=CAU);

}
.two{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    justify-content:space-between ;
}

.jj{
    margin-right: 70px;
    border: 70px solid;
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;
    border-color: white;
}
.jj{
    margin-right: 70px;
    border: 60px solid;
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;
    border-color: white;
    margin-bottom: 25px;
}
.jj{
    border: 60px solid;
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;
    border-color: white;
}
.jj{
    margin-left: px;
    margin-top: 30px;
    border: 60px solid;
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;
    border-color: white;
}
.mp{
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    display: grid;
}
#dd{
    margin-right: 40px;
    border: 40px solid;
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;
    border-color: white;
}
#tt{
    border: 40px solid;
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;
    border-color: white;
}
#bb{
   margin-left: 5px;
    border: 40px solid;
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;
    border-color: white;
    margin-bottom: 45px;
}
#vv{
    border: 40px solid;
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;
    border-color: white;
    margin-bottom: 45px;
}
@media screen and (max-width:850px) {
    .body{
        height: 50vh;
        width: 50%;
        padding: 0%;
    }
   .two{
    display: grid;
    padding-right: 20px;
    grid-template-columns: 350px;
    background-image: url("https://media.istockphoto.com/id/815573944/photo/man-and-woman-hand-holding-jigsaw-puzzles-business-matching-concept.jpg?s=612x612&w=0&k=20&c=kVipFd0Uv84FgMfHsTpiRkh_wTl5VWP4CxxX_IsQLdA=");
} 
    .mp{
        width: 100%;
    }
    #tt{
        margin-top: 5%;
        /* margin-bottom: auto; */
    }
}
