.body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQSPiBT6p6AI38BU824e6LxlRY7W1lo-FrDg&usqp=CAU);
    margin-top: 150px;
    margin-bottom: 50px;
    
}
#ll{
    border: 100px solid;
    border-color: grey;
    border-top-right-radius: 45px;
    border-bottom-left-radius: 45px;
}
.body2{
    border-top: 10px solid pink;
    border-bottom: 10px solid pink;
    border-color: pink;
    border-radius: 25px;
    color: blue;
    cursor: pointer;
    outline-color: blue;
    border-color: white;
    background-color: white;
}
.body3{
    background-color: pink;
}
.yy{
    width: 50%;
    height: 50%;
}