.body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQSPiBT6p6AI38BU824e6LxlRY7W1lo-FrDg&usqp=CAU);
    margin-top: 40px;
    margin-bottom: 50px;
    padding: 10%;
    
}
#ll{
    border: 100px solid;
    border-color: grey;
    border-top-right-radius: 45px;
    border-bottom-left-radius: 45px;
}
.body2{
    border-top: 10px solid pink;
    border-bottom: 10px solid pink;
    border-color: pink;
    border-radius: 25px;
    color: blue;
    cursor: pointer;
    outline-color: blue;
    border-color: white;
    background-color: white;
}
.body3{
    background-color: pink;
}
/* .yy{
    width: 50%;
    height: 50%;
} */
/* @media  and (max-width:500px) {
    .body{
        margin-right: 10px;
        margin-left:10px;
        padding: 0px;
        height: 50vh;
        width: 50vw;
    }
} */

@media screen and (max-width:800px){
     .body{
        height: 50vh;
        width: 50vw;
        padding-right: auto;
        padding-left: auto;
     }
}