.body{
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 150px;
    background-color: grey;
}
.one{
    background: url(https://media.istockphoto.com/id/815573944/photo/man-and-woman-hand-holding-jigsaw-puzzles-business-matching-concept.jpg?s=612x612&w=0&k=20&c=kVipFd0Uv84FgMfHsTpiRkh_wTl5VWP4CxxX_IsQLdA=)
}
#dt{
    margin-top: 100px;
    margin-left: 100px;
    border: 30px solid;
    border-radius: 20px;
    background-color: white ;
    border-color: blue;
    cursor: pointer;
}
.two{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQSPiBT6p6AI38BU824e6LxlRY7W1lo-FrDg&usqp=CAU);
}
#jj{
    margin-right: 70px;
    border: 60px solid;
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;
    border-color: white;
}
#kk{
    margin-right: 70px;
    border: 60px solid;
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;
    border-color: white;
    margin-bottom: 25px;
}
#ll{
    border: 60px solid;
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;
    border-color: white;
}
#mm{
    margin-right: 70px;
    border: 60px solid;
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;
    border-color: white;
}
#dd{
    margin-right: 40px;
    border: 40px solid;
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;
    border-color: white;
}
#tt{
    border: 40px solid;
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;
    border-color: white;
}
#bb{
   margin-left: 5px;
    border: 40px solid;
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;
    border-color: white;
    margin-bottom: 35px;
}
#vv{
    border: 40px solid;
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;
    border-color: white;
    margin-bottom: 70px;
}
